<!DOCTYPE html>
@using Microsoft.AspNetCore.Http;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>


    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" asp-page="/Index">
            <img src="~/img/Libros.png" width="30" height="30" class="d-inline-block align-top" alt="">
            KioskoTIC
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Divisiones/CatalogoDivision">Divisiones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/SobreNosotros">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                    @{

                        @if (Context.Session.GetString("Nivel") == "3")
                            {
                        <a class="nav-link" asp-page="/Proyectos/CreateAlumno">Agregar proyecto...</a>
                            }
                            else
                            {

                            }
                    }
                </li>
                <li class="nav-item dropdown">
                    @{

                        @if (Context.Session.GetString("Nivel") == "1")
                            {
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Administrar
                        </a>
                        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                            <a class="dropdown-item" asp-page="/Divisiones/Index">Divisiones</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-page="/Carreras/Index">Carreras</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-page="/Proyectos/Index">Proyectos</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-page="/Usuarios/Index">Usuarios</a>
                        </div>

                        }
                        else
                        {

                        }
                    }
                </li>
            </ul>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    @{

                        @if (string.IsNullOrEmpty(Context.Session.GetString("usuario")))
                                    {

                                        //Aqui le dices  o redireccionas al usuario (No tienes permiso!)
                        @Html.Raw("No tienes permisos");


                                    }
                                    else
                                    {
                        @Html.Raw("Bienvenido " + Context.Session.GetString("usuario"));
                                    }

                    }
                </a>

            </li>
            <li class="nav-item">
                @{
                    @if (string.IsNullOrEmpty(Context.Session.GetString("usuario")))
                                {

                                }
                                else
                                {
                    <a class="derecha nav-link" asp-page="/Login" asp-page-handler="Cerrar">Cerrar sesión</a>
                                }

                }
            </li>
        </ul>

    </nav>
    <br />
    <br />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <style>
            .footer {
                position: absolute;
                width: 100%;
            }
        </style>
        <div class="containerFooter">
            <div class="row">

                <div class="footer-col">
                    <br />
                    <h4>Compañia</h4>
                    <ul>
                        <li><a href="#">Acerca de KioskoTIC</a></li>
                        <li><a href="#">Política de Privacidad</a></li>
                        <li><a target="_blank" href="https://goo.gl/maps/QoQfNEwp61QzddDH7">Ubicanos</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <br />
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contáctanos</a></li>
                        <li><a href="#">¿Bugs? Repórtalo</a></li>
                        <li><a href="#">Reportes</a></li>
                        <li><a href="#">Estatus de Reportes</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
