@page
@model KioskoTIC.Pages.Divisiones.IndexModel

@{
    ViewData["Title"] = "Tabla de divisiones existentes";
    Layout = "_Layout";
}

<center>
    <h1>Tabla de las divisiones existentes</h1>
</center>
<br />

<p>
    <a class="btn btn-outline-primary" asp-page="Create">Agregar divisiones</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imagen
            </th>
            <th>
                Nombre de la division
            </th>
            <th>
                Descripcion
            </th>
            <th style="width: 24%;">
                Administrar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Division)
        {
            <tr>
                <td>
                    <img width="150" src="~/img/@Html.DisplayFor(modelItem => item.ProfilePicture)" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreDivision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionDivision)
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.DivisionId">Edit</a> |
                    <a class="btn btn-outline-primary" asp-page="./Details" asp-route-id="@item.DivisionId">Details</a> |
                    <a class="btn btn-outline-primary" asp-page="./Delete" asp-route-id="@item.DivisionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
