@page
@model KioskoTIC.Pages.Carreras.IndexModel

@{
    ViewData["Title"] = "Tabla de carreras existentes";
    Layout = "_Layout";
}

<center>
    <h1>Tabla de las carreras existentes</h1>
</center>
<br />

<p>
    <a class="btn btn-outline-primary" asp-page="Create">Agregar carrera</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre de la carrera
            </th>
            <th>
                Descripción
            </th>
            <th>
                División a la que pertenece
            </th>
            <th>
                Plan de estudios
            </th>
            <th style="width: 24%;">
                Administrar
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Carrera) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCarrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionCarrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division.NombreDivision)
            </td>
            <td>
                <img width="150" src="~/Archivos/@Html.DisplayFor(modelItem => item.archivopdf)" alt="Alternate Text" />
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.CarreraId">Edit</a> |
                <a class="btn btn-outline-primary" asp-page="./Details" asp-route-id="@item.CarreraId">Details</a> |
                <a class="btn btn-outline-primary" asp-page="./Delete" asp-route-id="@item.CarreraId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
