@page
@model KioskoTIC.Pages.Proyectos.IndexModel

@{
    ViewData["Title"] = "Tabla de proyectos existentes";
    Layout = "_Layout";
}

<center>
    <h1>Tabla de los proyectos existentes</h1>
</center>
<br />

<p>
    <a class="btn btn-outline-primary" asp-page="Create">Agregar proyectos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imagen del proyecto
            </th>
            <th>
                Nombre del proyecto
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Carrera a la que pertenece
            </th>
            <th style="width: 24%;">
                Administrar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Proyecto)
        {
            <tr>
                <td>
                    <img width="150" src="~/ImagenesDeProyectos/@Html.DisplayFor(modelItem => item.IamgenProyecto)" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProyecto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionProyecto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carrera.NombreCarrera)
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.ProyectoId">Edit</a> |
                    <a class="btn btn-outline-primary" asp-page="./Details" asp-route-id="@item.ProyectoId">Details</a> |
                    <a class="btn btn-outline-primary" asp-page="./Delete" asp-route-id="@item.ProyectoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>