@page
@model KioskoTIC.Pages.Usuarios.IndexModel

@{
    ViewData["Title"] = "Tabla de usuarios existentes";
    Layout = "_Layout";
}

<center>
    <h1>Tabla de usuarios existentes</h1>
</center>
<br />

<p>
    <a class="btn btn-outline-primary" asp-page="Create">Agregar usuarios</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre de usuario
            </th>
            <th>
                Contraseña
            </th>
            <th>
                Nombres y apellidos
            </th>
            <th>
                Nivel del usuario
            </th>
            <th>
                Administrar
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Usuario) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel.NombreNivel)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.UsuarioId">Edit</a> |
                <a class="btn btn-outline-primary" asp-page="./Details" asp-route-id="@item.UsuarioId">Details</a> |
                <a class="btn btn-outline-primary" asp-page="./Delete" asp-route-id="@item.UsuarioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
